body {
	margin: 0;
}
.header {
	display: flex;
	color: white;
	background-color: #026fff;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.form {
	padding: 10px;
	background-color: #b2fafa;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form input[type='text'],
.form textarea {
	margin-top: 5px;
	border: 1px solid red;
	border-color: gray;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 20px 10px 25px;
	width: 280px;
}

.form button,
.form input[type='reset'] {
	color: white;
	background-color: #52CC21;
	padding: 8px 0;
	border-radius: 5px;
	margin-top: 10px;
	width: 100px;
}

table {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid gray;
	height: 25px;
	padding: 5px;
}

td {
	text-align: center;
}

.btnDel {
	color: black;
	background-color: red;
	padding: 4px 0;
	border-radius: 5px;
	width: 100px;
	margin: 0 10px;
	display: inline-block;
	text-decoration: solid;
}

.btnDel:hover {
	color : white;
	background-color: black;
}

.btnUp { 
	color: black;
	background-color: orange;
	padding: 4px 0;
	border-radius: 5px;
	width: 100px;
	margin: 0 10px;
	display: inline-block;
	text-decoration: solid;
}

.btnUp:hover {
	color : white;
	background-color: black;
}

#update-popup {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.uptate-form {
    background-color: white;
}

.update-form {
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
    margin-left: -210px;
    margin-top: -255px;
    left: 50%;
    top: 50%;
    position: relative;
    width: 350px;
    padding: 20px 40px 40px 40px;
    box-shadow: 1px 1px 5px #444444;
	border-radius: 10px;
}

.update-form input[type='text'],
.update-form textarea {
	margin-top: 5px;
	border: 1px solid red;
	border-color: gray;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 20px 10px 25px;
	width: 280px;
}

.update-form button,
.update-form input[type='button'] {
	color: white;
	background-color: #52CC21;
	padding: 8px 0;
	border-radius: 5px;
	margin-top: 10px;
	width: 100px;
}